{% extends 'base.html' %} 
{% block content %}

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Change Password
                        </p>
                    </header>
                    <div class="card-content">
                        <form action="#" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if messages %}
                            <article class="message is-success">
                                <div class="message-body">
                                    {% for message in messages %}
                                    <strong>{{ message }}</strong><br>
                                    {% endfor %}
                                </div>
                            </article>
                            {% endif %}
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input class="input" type="password" placeholder="Old Password" name="user_password" id="user_password" required autofocus="">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input class="input" type="password" placeholder="New Password" name="user_new_password" id="user_new_password" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input class="input" type="password" placeholder="Confirm Password" name="user_confirm_password" id="user_confirm_password" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <button class="button is-success" type="submit" id="submit">
                                        Change Password
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
