{% extends 'base.html' %}
{% block content %}
<div class="wrapper col5">
  <div id="container">
  <h3>About our  Courier Tracking System</h3>
  <p>Courier involves managing the movement of resources. This not only includes products, but the movement and storage of materials, tools, equipment, services, people and information. It includes transportation, packaging, warehousing, materials handling and condition management. It involves both forward and reverse flow, as well as managing inventory and warehousing. Courier tracking refers to the methods and systems used for tracking resources throughout their movement and storage. With Courier tracking you'll know where your products, materials, or other resources are physically located at any time, as well as what is scheduled.</p>
  <p>Production Courier involves ensuring each machine and workstation has the needed resources, when those resources are needed. Courier tracking is critically important for production Courier to be successful. Manufacturing is a constantly changing environment, and it is commonly necessary to adjust the flow of materials to prevent both shortages and over-supply. Courier tracking provides the real-time status of the supply chain allowing adjustments to be made as needed.</p>        

  </div>
</div>
{% endblock content %}

